<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>



<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading">Dodaj dane nowego Pacjęta</h2>
        <form action="" th:action="@{/admin/dodaj-pacjeta}" method="post" class="mc-form" th:object="${patientDto}">
            <!-- dodawanie pacjenta -->
            <label for="nick">Nick Pacjęta </label>
            <input type="text" id="nick" placeholder="np. Wiki23" th:field="*{nick}">
            <label for="name">Imię Pacjęta </label>
            <input type="text" id="name" placeholder="np. Adam" th:field="*{name}">
            <label for="surname">Nazwisko Pacjęta </label>
            <input type="text" id="surname" placeholder="np. Brzęczyszczykiewicz" th:field="*{surname}">
            <label for="telephone">telefon Pacjęta</label>
            <input type="text" id="telephone" placeholder="+48 606 215 111" th:field="*{telephone}">
            <label for="yearOfBrith">Rok urodzenia Pacjęta</label>
            <input type="text" id="yearOfBrith" placeholder="np. 1988" th:field="*{yearOfBrith}">
            <button type="submit">Dodaj</button>


        </form>
    </main>
</div>
</body>
</html>