<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>


<body>
<main class="main-content" layout:fragment="content">
    <p class="notification-bar" th:if="${notification}" th:utext="${notification}">
        Belka z powiadomieniami
    <h2 class="list-heading">Panel administracyjny</h2>
    <div >
        <ul class="patients-list123">
            <li><a href="#" th:href="@{/admin/pacjenci}">1. Wyświetl pacjentów</a></li>
            <li><a href="#" th:href="@{/admin/dodaj-pacjenta}">2. Dodaj pacjenta</a></li>
            <li><a href="#" th:href="@{/admin/spotkania}">3. Wyświetl spotkania</a></li>
            <li><a href="#" th:href="@{/admin/dadaj-rezerwacje}">4. Zarezerwuj spotkanie</a></li>
            <li><a href="#" th:href="@{/admin/offer/add}">5. Dodaj rodzaj terapii</a></li>
            <li><a href="#" th:href="@{/admin/dodaj-termin}">6. Dodaj termin do kalendarza</a></li>
            <li><a href="#" th:href="@{/admin/calender/view}">7. Edytuj/Usuń termin z kalendarza</a></li>
            <li><a href="#" th:href="@{/admin/offer/view}">8. Edytuj/Usuń rodzaj terapii</a></li>
            <li><a href="#" th:href="@{/change-password}">9. Zmień hasło</a></li>
        </ul>
    </div>
</main>
</body>
</html>