<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <!-- Nagłówek pobieramy z modelu -->
        <h2 class="list-heading" th:text="${headingFA}">Wyświetla terminy w pętli thymeleaf'a</h2>
        <!-- godzine pobieramy z modelu -->
        <p class="list-description" th:text="${descriptionFA}">Sprawdz terminy spotkań</p>

        <div class="mc-form">
        <ul th:remove="all-but-first">
            <li class="free-therms-list-item" th:each="meetingsThermsForAdmin: ${meetingsForAdmin}">
                <a class="delete-button-link"
                   href="admin/pacjeci/delete/"
                   th:href="@{|spotkania/delete/${meetingsThermsForAdmin.id}|}"
                   onclick="return confirm('czy na pewno usunąć tego Spotanie? ')"
                   role="button">
                    <button class="delete-button">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </a>
                <p th:href="@{|spotkania/${meetingsForAdmin}|}">
                    <button class="meeting-button-booked">
                        <i class="fa-regular fa-calendar-check"></i>
                    </button>
                </p>
                <div class="patient-description">
                        <h3 class="free-therms-list-item-title" th:text="|Termin: ${meetingsThermsForAdmin.calender.dayof} ${meetingsThermsForAdmin.calender.time}|">Termin: </h3>
                        <p class="patients-list"
                           th:text="|Pacjent: ${meetingsThermsForAdmin.patient.surname}  ${meetingsThermsForAdmin.patient.name} Nick: ${meetingsThermsForAdmin.patient.nick} tel. ${meetingsThermsForAdmin.patient.telephone} email. ${meetingsThermsForAdmin.patient.email}|">Pacjent</p>
                        <p class="patients-list"
                           th:text="|Rodzaj terapii: ${meetingsThermsForAdmin.therapy.kindOfTherapy}|">Terapia</p>

                </div>

                <!-- Link do strony pojedynczego termiu  /termin/5 -->


                <!--dane do pojedynczego spotkania terminu-->
                <div class="free-therms-list-item-card">



                </div>
            </li>
        </ul>
        </div>
    </main>
</div>
</body>
</html>