<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading" th:text="${heading}">Podaj swoje dane, aby umówić wizytę</h2>
        <h4 class="list-heading" th:text="${description}">Twoje dane będzie widział jedynie terapeuta, ogólnodostępne będzie jednynie NICK</h4>
        <div class="mc-form">
            <form th:action="@{/admin/dadaj-rezerwacje}" method="post" class="mc-form" th:object="${meetingSave}">
                <label for="therapy">Terapia</label>
                <select class="option-box" id="therapy" th:field="*{therapy}" required>
                    <option value="" hidden="">Wyberz Rodzaj terapii</option>
                    <option class="option-box-inside" th:each="therapy: ${therapies}" th:value="${therapy.id}"
                            th:text="${therapy.kindOfTherapy}"></option>
                </select>
                <label for="patient">Pacjent</label>
                <select class="option-box" id="patient" th:field="*{patient}" required>
                    <option value="" hidden="">Wyberz Pacjenta</option>
                    <option class="option-box-inside" th:each="patient: ${patient}" th:value="${patient.id}"
                            th:text="|${patient.nick} ${patient.name} ${patient.surname} ${patient.email}|"></option>
                </select>
                <label for="calender">Termin</label>
                <select class="option-box" id="calender" th:field="*{calender}" required>
                    <option value="" hidden="">Wyberz Termin</option>
                    <option class="option-box-inside" th:each="calender: ${therms}" th:value="${calender.id}"
                            th:text="|${calender.dayof} ${calender.time}|"></option>
                </select>
                <button type="submit">Dodaj</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>