<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <!-- Nagłówek pobieramy z modelu -->
        <h2 class="list-heading" th:text="${headingFA}">Wyświetla terminy w pętli thymeleaf'a</h2>
        <!-- godzine pobieramy z modelu -->

        <form id="serch-form" class="mc-form">
            <label th:text="${descriptionFA}">Sprawdź terminy spotkań</label>
            <input th:action="@{admin/spotkania}" type="text"
                       th:name="keyword" placeholder="szukaj po imieniu, nazwisku lub dniu tygodnia">
            <button type="submit">Szukaj</button>
        </form>

        <div class="mc-form">
        <ul th:remove="all-but-first">
            <li class="free-therms-list-item"
                th:each="meetings: ${meetings}">
                <a class="delete-button-link"
                   th:href="@{|spotkania/delete/${meetings.id}|}"
                   onclick="return confirm('czy na pewno usunąć tego Spotanie? ')"
                   role="button">
                    <button class="delete-button">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </a>
                <p th:href="@{|spotkania/${meetings}|}">
                    <button class="meeting-button-booked">
                        <i class="fa-regular fa-calendar-check"></i>
                    </button>
                </p>

                <div class="patient-description">
                        <h3 class="free-therms-list-item-title"
                            th:text="|Termin: ${meetings.dayof}
                            ${meetings.time}|">Termin: </h3>
                        <p class="patients-list"
                           th:text="|Pacjent: ${meetings.surname}
                           ${meetings.name}
                           Nick: ${meetings.nick}|">Pacjent</p>
                        <p class="patients-list"
                           th:text="|tel. ${meetings.telephone}|">Pacjent</p>
                        <p class="patients-list"
                           th:text="|Rodzaj terapii: ${meetings.kindOfTherapy}|">Terapia</p>
                </div>
                <!--dane do pojedynczego spotkania terminu-->
                <div class="free-therms-list-item-card">
                </div>
            </li>
        </ul>
        </div>
    </main>
</div>
</body>
</html>