<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="patient">
            <h2 class="list-heading" th:text="${patientHeading}">Pacjęci</h2>

                <form id="serch-form" class="mc-form">
                    <input th:action="@{admin/pacjeci}" type="text" th:name="keyword" placeholder="keyword">
                    <button type="submit">Szukaj</button>
                </form>
<!--                <form id="search-form" class="mc-form">-->
<!--                    <input th:action="@{admin/pacjeci}" type="text" th:name="surname" placeholder="nazwisko">-->
<!--                    <button type="submit">Szukaj</button>-->
<!--                </form>-->

            <!-- Podsumowanie -->
            <div class="patient-summary">
                <!-- informacje o pacjęcie -->
                    <ul class="patients-list" th:remove="all-but-first">
                        <!-- ustawiamy podsatwowe informacje o pacjęcie -->
                        <li class="patients-list-item" th:each="patient: ${patients}">
                            <h3 class="free-therms-list-item-title" th:text="|Nick pacjęta: ${patient.nick}|">Nick
                                pacjęta</h3>
                            <p class="patients-list"
                               th:text="|Lp. (id): ${patient.id}, Imię: ${patient.name}, Nazwisko: ${patient.surname}, Rok urodzenia: ${patient.yearOfBrith}|">
                                Lp., Imię, Nazwisko, Wiek</p>
                            <p class="patients-list" th:text="|Telefon: ${patient.telephone}|">Telefon</p>
                        </li>
                    </ul>
            </div>
        </section>
    </main>
</div>
</body>
</html>