<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>


<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Dzienny licznik wizyt</h2>
    <div >
        <ul class="patients-list123">
            <h5>Licznik wizyt home /: <span th:text="${home}"></span></h5>
            <h5>Licznik wizyt omnie/: <span th:text="${omnieC}"></span></h5>
            <h5>Licznik wizyt user/: <span th:text="${userC}"></span></h5>
            <h5>Licznik wizyt admin/: <span th:text="${adminC}"></span></h5>
            <h5>Licznik wizyt terminy/: <span th:text="${terminyC}"></span></h5>
            <h5>Licznik wizyt spotkania/: <span th:text="${spotkaniaC}"></span></h5>
            <h5>Licznik wizyt mail/: <span th:text="${mail}"></span></h5>
            <h5>Licznik wizyt oferta/: <span th:text="${offertaC}"></span></h5>
            <h5>Licznik wizyt login/: <span th:text="${loginC}"></span></h5>

        </ul>
    </div>
</main>
</body>
</html>