<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <div class="row-table">
            <div class="column">
                <h2>Wyślij wiadomość do terapeuty </h2>
                <form action="#" th:action="@{/mail}"
                      method="post" class="mc-form" th:object="${mailDto}">
                    <label for="subject">Temat</label>
                    <input type="text" id="subject"
                           placeholder="tamat wiadomości" th:field="*{subject}">
                    <label for="body">Treść wiadomości</label>
                    <textarea id="body" rows="10" th:field="*{body}"></textarea>
                    <label for="from">e-mail kontaktowy </label>
                    <input type="email" id="from"
                           placeholder="mail własny" th:field="*{from}">
                    <label for="phone">telefon </label>
                    <input type="text" id="phone"
                           placeholder="telefon" th:field="*{phone}">
                    <button type="submit">Wyślij</button>
                </form>
            </div>
            <div class="column">
                <h2>Dane kontaktowe</h2>

                <div class="mar">
                    <h4>Ewa Górska</h4>
                    <p>ul. Fabryczna 6, 23-200 Kraśnik</p>
                    <p>tel (+48) 781 106 026</p>
                    <p>nr rachunku bankowego</p>
                    <p>BKO BP: rachunek do sprawdzenia</p>
                    <p>57 1020 1185 0000 4002 0117 8185</p>
                    <div class="pic flip-box2">
                        <img src="/images/mapka.jpg"
                             alt="gabinet psychoterapeutyczny przychdnia FŁT"/>

                    </div>
                    <div>
                        <div>
                            <a href="https://www.google.pl/maps/place/Przychodnia+Fabryki+%C5%81o%C5%BCysk+Tocznych+Kra%C5%9Bnik+S.A./@50.9652739,22.1740576,17z/data=!4m7!3m6!1s0x4722e965253a8e77:0x818431a83eb44f8d!4b1!8m2!3d50.9652705!4d22.1766325!16s%2Fg%2F1th85wt_?entry=ttu">
                                Wyświetl mapę google do przychodni FŁT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>