<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading" th:text="${heading}">Podaj swoje dane, aby umówić wizytę</h2>
        <h4 class="list-heading" th:text="${description}">Twoje dane będzie widział jedynie terapeuta.</h4>

        <section class="mc-form" th:object="${calender}">
            <h4 >Termin spotkania: </h4>
            <p class="option-box" th:text="|${calender.dayof} ${calender.time}|"
               th:value="${calender.id}">
            </p>
        </section>


        <form action="#" th:action="@{/termin/add}"
              method="post" th:object="${meetingSave}"
        class="mc-form">

            <label for="therapy">Terapia - wybierz rodzaj terapii</label>
            <select class="option-box" id="therapy" required th:field="*{therapy}">
                <option th:each="therapy: ${therapies}"
                        th:text="${therapy.kindOfTherapy}" th:value="${therapy.id}"></option>
            </select>

            <div class="mc-form-patient" th:field="*{patient}">

                <p>* - pola obowiązkowe</p>
                <label for="name">Imię * </label>
                <input required class="option-box" type="text" id="name" placeholder="np. Adam" th:field="${patientToSave.name}">
                <label for="surname">Nazwisko *</label>
                <input required class="option-box" type="text" id="surname" placeholder="np. Brzęczyszczykiewicz" th:field="${patientToSave.surname}">
                <label for="telephone">Telefon *</label>
                <input required class="option-box" type="text" id="telephone" placeholder="+48 606 215 111" th:field="${patientToSave.telephone}">
                <label for="approve">Zgoda na przetwarzanie danych zawartych w formularzu
                    wyłącznie do kontaktu z Tobą oraz prowadzenia dokumentacji medycznej. * </label>
                <input class="checkbox" required type="checkbox"
                       id="approve" name="approve" th:checked="${patientToSave.approval}"/>
                <label for="yearOfBrith">Rok urodzenia np. 1988 * </label>
                <input required class="option-box" type="number" th:default="1988" id="yearOfBrith"
                       placeholder="1988" th:field="${patientToSave.yearOfBrith}" min="1920">
                <label for="nick">Nick </label>
                <input type="text" class="option-box" id="nick" placeholder="np. Wiki23"
                       th:field="${patientToSave.nick}">
                <label for="info">Dodatkowe inforamacje np. adres zamieszkania. </label>
                <input type="text" class="option-box" id="info" placeholder="np. adres"
                       th:field="${patientToSave.information}">

            </div>

            <button type="submit">Dodaj</button>
        </form>
    </main>
</div>
</body>
</html>