<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
< class="container">
<main class="main-content" layout:fragment="content">

    <h2 class="list-heading">Zresetuj hasło</h2>

    <form th:action="@{/forgotPassword}" method="post" th:object="${mailDto}">
        <p th:if="${param.success}"
           class="mc-form-message">
            Email sent to you to Reset Password.
            Please check Spam folder if mail not visible!
        </p>
        <p th:if="${param.error}"
           class="mc-form-message">
            Token Expired.Please click on Forgot Password again.
        </p>
        <label for="username">Adres email</label>
        <input id="username" th:field="*{recipient}"
               name="username" placeholder="nazwa użytkownika">
        <button type="submit" class="btn-submit">Submit</button>
    </form>

</main>
</div>
</body>
</html>
