<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">

        <h2 class="list-heading">Zresetuj hasło</h2>

        <form th:action="@{/forgot-password}" method="post"
              th:object="${userCredentialsDto}" class="mc-form">

            <p th:if="${param.success}"
               class="mc-form-message">
                Wiadomość e-mail wysłana w celu zresetowania hasła.
                Sprawdź folder Spam, jeśli wiadomość nie jest widoczna!
            </p>

            <p th:if="${param.error}"
               class="mc-form-message">
                Token wygasł, kliknij ponownie Zapomniałem hasła.
            </p>

            <label for="username">Adres email</label>
            <input id="username" th:field="*{email}"
                   name="username" placeholder="nazwa użytkownika" type="text">
            <button type="submit" class="btn-submit">Wyślij link resetujący</button>
        </form>

    </main>
</div>
</body>
</html>
