<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<script>
    function checkPassword(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var errorElement = document.getElementById("passwordError");

        if (password !== confirmPassword) {
            errorElement.textContent = "Passwords do not match";
            event.preventDefault(); // Prevent form submission by default
        }else{
            errorElement.textContent = "";
        }
    }
</script>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading">Zmień hasło</h2>
        <form action="" th:action="@{/reset-password}"
              method="post" class="mc-form">

            <label for="username">Adres email</label>
            <input id="username" name="username" placeholder="nazwa użytkownika" th:value="${e}">

            <label for="currentPassword">Aktualne Hasło</label>
            <input id="currentPassword" name="currentPassword" placeholder="wprowadź aktualne hasło" type="password">

            <label for="newPassword">Nowe hasło</label>
            <input id="newPassword" name="newPassword" placeholder="wprowadź nowe hasło" type="password">

            <label for="confirmationPassword">Powtórz nowe hasło</label>
            <input id="confirmationPassword" name="confirmationPassword" placeholder="powtórz nowe hasło"
                   type="password">

            <button type="submit">OK</button>

            <p class="registration-link">Nie masz jeszcze konta? <a href="#" th:href="@{/rejestracja}">Zarejestruj
                się</a></p>
        </form>
    </main>
</div>
</body>
</html>