<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<!-- Dodana przestrzeń layout -->

<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Strona nie istnieje - Psychoterapia Ewa Górska</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
  <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&display=swap" rel="stylesheet">
  <!-- Dynamicznie budowany adres do skryptu JS i arkusza stylów -->
  <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>

<body>
<div class="container">
  <main class="main-content" layout:fragment="content">
    <div class="error-container">
      <h2 class="error-header">Strona nie istnieje</h2>
      <i class="fa-solid fa-face-frown error-icon"></i>
      <p>Strona, którą próbujesz odwiedzić nie została odnaleziona.</p>
    </div>
  </main>

  <footer class="footer">
    <p><i class="fa-regular fa-heart"></i> Psychoterapia: Ewa Górska (+48) 781 106 026 </p>
    <p><i class="fa-solid fa-file-code"></i> Api wykonał: tomasz.gorski88@gamil.com</p>
  </footer>

</div>

</body>

</html>