<!DOCTYPE html>

<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="my-20px text-center" th:text="${heading}">Kto to</h2>
        <!--        <div class="row-table ">-->
        <h3 class="px-30px">Wykształcenie i doświadzczenie zawodowe: </h3>

        <div class="column-a"></div>
        <div class="column-am-left">
            <div class="flip-box rounded cursor-pointer"
                 onmouseover="document.getElementById('hello').play()">
                <div class="flip-box-inner rounded">
                    <div class="flip-box-front">
                        <img src="/images/Ewcia_na_strone.jpg"
                             alt="Ewa Górska - Kraśnik Terapeuta"/>
                    </div>
                    <div class="flip-box-back">
                        <div class="px-10px py-50px">
                            <h5>Ewa Górska</h5>
                            <h6>Zapraszam do kontaktu:)</h6>
                            <p></p>
                            <h6>psychoterapeuta, psycholog, mediator, pedagog</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column-am-right">
            <p class="mt-20px">
                Jestem psychologiem oraz psychoterapeutą pracującym w nurcie psychodynamicznym i integracyjnym,
                ukończyłam <b>4-letni kurs psychoterapii organizowany przez Collegium Medicum Uniwersytetu
                Jagiellońskiego w Krakowie, magistrem psychologii </b>(specjalność: kliniczna i osobowości) oraz
                <b> magistrem pedagogiki</b> (specjalizacja: opiekuńczo-wychowawcza, resocjalizacja). Oba kierunki studiów
                ukończyłam na Uniwersytecie Kardynała Wyszyńskiego w Warszawie. Skończyłam także studia
                podyplomowe z zakresu relacji interpersonalnych i profilaktyki uzależnień.
            </p>
            <p class="mt-20px">
                Doświadczenie zawodowe w pracy z młodzieżą zdobywałam pracując w Ochotniczych Hufcach Pracy,
                organizowałam liczne szkolenia i warsztaty z zakresu psychologii i doradztwa zawodowego. Kilka lat
                pracowałam na stanowisku psychologa w <b>Poradni Psychologiczno-Pedagogicznej</b> prowadząc
                diagnostykę oraz terapię dzieci i młodzieży.
                Przez trzy lata pracowałam z osobami dorosłymi w <b>Szpitalu Psychiatrycznym </b> na Oddziale Dziennym
                oraz na Oddziale Ogólnopsychiatrycznym Zamkniętym, gdzie zdobyłam doświadczenie w pracy z
                osobami chorymi psychicznie, pracy grupowej, a także prowadziłam zajęcia koordynowane przez
                Poradnię Uzależnień.
            </p>

        </div>

        <div class="row-table column-a"></div>
        <div class="column-am-left">

            <div class="flip-box rounded cursor-pointer"
                 onmouseover="document.getElementById('hello').play()">
                <div class="flip-box-inner rounded">
                    <div class="flip-box-front">
                        <img src="/images/gabinet.jpg" alt="Gabinet psychologiczny Kraśnik"/>
                    </div>
                    <div class="flip-box-back">
                        <div class="px-10px py-50px">
                            <h5>Psycholog Kraśnik</h5>
                            <h6>psychoterapeuta, pedagog, mediator
                                przestrzeń sprzyjająca rozmowie</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="column-am-right">
            <p class="mt-20px">
                Zarówno w Szpitalu, Zakładzie Opiekuńczo-Leczniczym jak i Powiatowym Domu Samopomocy
                udzielałam wsparcia indywidualnego i prowadziłam diagnostykę pacjentów.
                W ostatnim czasie pracowałam w <b> Szpitalu (SPZOZ) w Kraśniku </b>  na Oddziale Neurologii z Pododdziałem
                Udarowym, Oddziale Rehabilitacji
            </p>

            <p class="mt-20px">
                Kończąc <b> dwustopniowy kurs mediatora małżeństw </b> uzyskałam dodatkowe kwalifikacje i narzędzia do
                pracy z parami. Od kilku lat pracuję w prywatnym gabinecie z młodzieżą, osobami dorosłymi oraz
                prowadząc terapię par.
                Jestem członkiem <b> Polskiego Towarzystwa Psychiatrycznego.</b>  Pracuję pod stałą <b> superwizją</b>  w celu
                doskonalenia warsztatu pracy..
            </p>

            <p >
                Prywatnie jestem żoną, mamą dwójki dzieci, miłośnikiem książek i tańca :)
            </p>
        </div>
    </main>
</div>
</body>
</html>