<!DOCTYPE html>

<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <div class="about-me">
            <h2 class="list-heading" th:text="${heading}">Kto to</h2>
            <img src="../static/images/babanakrzeske.jpg.jpg"
                 class="about-me-photo"
            />
            <div >
                <p class="about-me">
                    Jestem psychologiem oraz psychoterapeutą pracującym w nurcie psychodynamicznym i integracyjnym,
                    <strong>ukończyłam 4-letni kurs psychoterapii organizowany przez Collegium Medicum Uniwersytetu
                    Jagiellońskiego w Krakowie,</strong> magistrem psychologii (specjalność: kliniczna i osobowości)
                    oraz magistrem pedagogiki (specjalizacja: opiekuńczo-wychowawcza, resocjalizacja).
                    Oba kierunki studiów ukończyłam na Uniwersytecie Kardynała Wyszyńskiego w Warszawie.
                    Skończyłam także <strong>studia podyplomowe z zakresu relacji interpersonalnych i profilaktyki uzależnień.</strong>
                </p>
                <p class="about-me">
                    Doświadczenie zawodowe w pracy z młodzieżą zdobywałam pracując w Ochotniczych Hufcach Pracy,
                    organizowałam liczne szkolenia i warsztaty z zakresu psychologii i doradztwa zawodowego.
                    Kilka lat pracowałam na stanowisku psychologa w <strong>Poradni Psychologiczno-pedagogicznej</strong> prowadząc
                    diagnostykę oraz terapię dzieci i młodzieży.<br>
                    Przez trzy lata pracowałam z osobami dorosłymi w <strong>Szpitalu Psychiatrycznym</strong> na Oddziale Dziennym oraz
                    na Oddziale Ogólnopsychiatrycznym Zamkniętym w Węgorzewie, gdzie zdobyłam doświadczenie w pracy z osobami chorymi
                    psychicznie, pracy grupowej, a także prwadziłam zajęcia koordynowane przez <strong>Poradnię
                    Uzależnień.</strong><br>
                    Zarówno w Szpitalu, Zakładzie Opiekuńczo-Leczniczym jak i <strong>Powiatowym Domu Samopomocy</strong> udzielałam
                    wsparcia indywidualnego i prowadziłam diagnostykę pacjentów.<br>
                    W ostatnim czasie pracowałam w <strong>Szpitalu (SPZOZ) w Kraśniku</strong> na Oddziale Neurologii z Pododdziałem
                    Udarowym, Oddziale Rehabilitacji oraz Oddziale Dziennym Psychiatrycznym prowadząc terapię
                    indywidualną i grupową.
                </p>
                <p class="about-me">
                    Kończąc <strong>dwustopniowy kurs mediatora</strong> małżeństw uzyskałam dodatkowe kwalifikacje i narzędzia do pracy z parami.
                    Od kilku lat pracuję w prywatnym gabinecie z młodzieżą, osobami dorosłymi oraz prowadząc terapię par.<br>
                    Jestem członkiem Polskiego Towarzystwa Psychiatrycznego.
                    <strong>Pracuję pod stałą superwizją w celu stałego doskonalenia warsztatu pracy.</strong>
                </p>
                <p class="about-me">
                    Prywatnie jestem żoną, mamą dwójki dzieci, miłośnikiem książek i tańca:)
                </p>


            </div>
        </div>
    </main>
</div>
</body>
</html>