<!DOCTYPE html>

<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">

        <h2 class="my-20px text-center" th:text="${heading}">Kto to</h2>

        <!--        <div class="row-table ">-->
        <h3 class="px-30px">Wykształcenie i doświadzczenie zawodowe: </h3>

        <div class="column-a"></div>
        <div class="column-am-left">
            <div class="flip-box rounded cursor-pointer"
                 onmouseover="document.getElementById('hello').play()">
                <div class="flip-box-inner rounded">
                    <div class="flip-box-front">
                        <img src="/images/Ewcia_na_strone.jpg"
                             alt="Ewa Górska - Kraśnik Terapeuta"/>
                    </div>
                    <div class="flip-box-back">
                        <div class="px-10px py-50px">
                            <h5>Ewa Górska</h5>
                            <h6>Zapraszam do kontaktu:)</h6>
                            <p></p>
                            <h6>psychoterapeuta, psycholog, mediator</h6>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="column-am-right">
            <p class="mt-20px">
                Doświadczenie zawodowe w pracy z młodzieżą zdobywałam pracując w Ochotniczych Hufcach Pracy,
                organizowałam liczne szkolenia i warsztaty z zakresu psychologii i doradztwa zawodowego. Kilka lat
                pracowałam na stanowisku psychologa w <b>Poradni Psychologiczno-pedagogicznej</b> prowadząc diagnostykę
                oraz terapię dzieci i młodzieży.<br>Przez trzy lata pracowałam z osobami dorosłymi w <b>Szpitalu
                Psychiatrycznym</b> na Oddziale Dziennym oraz na Oddziale Ogólnopsychiatrycznym Zamkniętym w Węgorzewie,
                gdzie zdobyłam doświadczenie w pracy z osobami chorymi psychicznie, pracy grupowej, a także prwadziłam
                zajęcia koordynowane przez <b>Poradnię Uzależnień.</b>
            </p>

        </div>

        <div class="row-table column-a"></div>
        <div class="column-am-left">

            <div class="flip-box rounded cursor-pointer"
                 onmouseover="document.getElementById('hello').play()">
                <div class="flip-box-inner rounded">
                    <div class="flip-box-front">
                        <img src="/images/gabinet.jpg" alt="Gabinet psychologiczny Kraśnik"/>
                    </div>
                    <div class="flip-box-back">
                        <div class="px-10px py-50px">
                            <h5>przestrzeń sprzyjająca swobodnej rozmowie</h5>
                            <h6>Usiądź w fotelu!</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="column-am-right">
            <p >
                Zarówno w Szpitalu, Zakładzie
                Opiekuńczo-Leczniczym jak i <b>Powiatowym Domu Samopomocy</b> udzielałam wsparcia indywidualnego i
                prowadziłam diagnostykę pacjentów.<br>W ostatnim czasie pracowałam w <b>Szpitalu (SPZOZ) w Kraśniku</b>
                na Oddziale Neurologii z Pododdziałem Udarowym, Oddziale Rehabilitacji oraz Oddziale Dziennym
                Psychiatrycznym prowadząc terapię indywidualną i grupową.
            </p>

            <p >
                Kończąc <b>dwustopniowy kurs mediatora</b> małżeństw uzyskałam dodatkowe kwalifikacje i narzędzia do
                pracy z parami. Od kilku lat pracuję w prywatnym gabinecie z młodzieżą, osobami dorosłymi oraz prowadząc
                terapię par.<br>Jestem członkiem Polskiego Towarzystwa Psychiatrycznego.<b> Pracuję pod stałą superwizją
                w celu stałego doskonalenia warsztatu pracy.</b>
            </p>

            <p >
                Prywatnie jestem żoną, mamą dwójki dzieci, miłośnikiem książek i tańca :)
            </p>

        </div>
    </main>
</div>
</body>
</html>