<!DOCTYPE html>

<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content p-50px" layout:fragment="content">
        <h2 class="my-20px text-center" th:text="${heading}">Kto to</h2>

        <h3>Wykształcenie i doświadzczenie zawodowe: </h3>

        <div class="row text-justify">
            <div class="col-75p">
                <p class="mt-20px">
                    Jestem psychologiem oraz psychoterapeutą pracującym w nurcie psychodynamicznym i
                    integracyjnym, <strong>ukończyłam 4-letni kurs psychoterapii organizowany przez Collegium Medicum
                    Uniwersytetu Jagiellońskiego w Krakowie, </strong> magistrem psychologii (specjalność: kliniczna i
                    osobowości) oraz magistrem pedagogiki (specjalizacja: opiekuńczo-wychowawcza, resocjalizacja). Oba
                    kierunki studiów ukończyłam na Uniwersytecie Kardynała Wyszyńskiego w Warszawie. Skończyłam także
                    <strong>studia podyplomowe z zakresu relacji interpersonalnych i profilaktyki uzależnień.</strong>
                </p>

                <p class="mt-20px">
                    Doświadczenie zawodowe w pracy z młodzieżą zdobywałam pracując w Ochotniczych Hufcach Pracy,
                    organizowałam liczne szkolenia i warsztaty z zakresu psychologii i doradztwa zawodowego. Kilka lat
                    pracowałam na stanowisku psychologa w <b>Poradni Psychologiczno-pedagogicznej</b> prowadząc diagnostykę
                    oraz terapię dzieci i młodzieży.<br>Przez trzy lata pracowałam z osobami dorosłymi w <b>Szpitalu
                    Psychiatrycznym</b> na Oddziale Dziennym oraz na Oddziale Ogólnopsychiatrycznym Zamkniętym w Węgorzewie,
                    gdzie zdobyłam doświadczenie w pracy z osobami chorymi psychicznie, pracy grupowej, a także prwadziłam
                    zajęcia koordynowane przez <b>Poradnię Uzależnień.</b>
                </p>

                <p class="mt-20px">
                    Zarówno w Szpitalu, Zakładzie
                    Opiekuńczo-Leczniczym jak i <b>Powiatowym Domu Samopomocy</b> udzielałam wsparcia indywidualnego i
                    prowadziłam diagnostykę pacjentów.<br>W ostatnim czasie pracowałam w <b>Szpitalu (SPZOZ) w Kraśniku</b>
                    na Oddziale Neurologii z Pododdziałem Udarowym, Oddziale Rehabilitacji oraz Oddziale Dziennym
                    Psychiatrycznym prowadząc terapię indywidualną i grupową.
                </p>
            </div>
            <div class="col-25p">
                <div class="flip-box rounded cursor-pointer float-right" onmouseover="document.getElementById('hello').play()">
                    <div class="flip-box-inner rounded">
                        <div class="flip-box-front">
                            <img src="/images/Ewcia.jpg" alt="Ewa Górska - Kraśnik Terapeuta"/>
                        </div>
                        <div class="flip-box-back">
                            <div class="px-10px py-50px">
                                <h4>Ewa Górska</h4>
                                <p>psychoterapełta, psycholog, mediator</p>
                                <p>Umów się na wizytę już teraz!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="mt-20px">
            Kończąc <b>dwustopniowy kurs mediatora</b> małżeństw uzyskałam dodatkowe kwalifikacje i narzędzia do
            pracy z parami. Od kilku lat pracuję w prywatnym gabinecie z młodzieżą, osobami dorosłymi oraz prowadząc
            terapię par.<br>Jestem członkiem Polskiego Towarzystwa Psychiatrycznego.<b> Pracuję pod stałą superwizją
            w celu stałego doskonalenia warsztatu pracy.</b>
        </p>

        <p class="mt-20px">
            Prywatnie jestem żoną, mamą dwójki dzieci, miłośnikiem książek i tańca :)
        </p>
        <audio autoplay controls class="mt-20px">
            <source src="/mp3/O mnie.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <audio class="d-none" id="hello"><source src="/mp3/hello.mp3" type="audio/mpeg"></audio>
    </main>
</div>
</body>
</html>