<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<!-- Dodana przestrzeń layout -->

<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <!-- Nagłówek pobieramy z modelu -->
        <h2 class="list-heading" th:text="${headingAllTherm}">Wyświetla wolne terminy w pętli thymeleaf'a</h2>
        <!-- godzine pobieramy z modelu -->
        <p class="list-description" th:text="${descriptionAllTherms}">opis, że trzeba kliknąc żeby się zapisać</p>

        <!-- Zostawiamy tylko pierwszy element <li> -->
        <ul class="free-therms-list" th:remove="all-but-first">
            <!-- Pętla po wszystkich terminach z modelu -->
            <li class="free-therms-list-item" th:each="calender: ${alltherms}">

                <!-- Link do strony pojedynczego termiu  /termin/5 -->
                <a href="#" th:href="@{|/termin/${calender.id}|}">
                    <!-- Po uruchomieniu aplikacji to może być ścieżka do placeholdera zdjecia/plakatu  -->
                    <button class="meeting-button">
                        <i class="fa-regular fa-calendar-days"></i>
                    </button>
                </a>
                <!--dane do pojedynczego spotkania terminu-->
                <div class="free-therms-list-item-card">
                    <div class="free-therms-list-item-content">
                        <h3 class="free-therms-list-item-title">
                            <!-- Link do strony pojedynczego spotkania /termin/6 -->
                            <a href="#" th:href="@{|/termin/${calender.id}|}" th:text="${calender.dayof}">Dzień spotkania

                            </a>
                        </h3>
                        <p class="free-therms-list-item-title" th:text="${calender.time}">godzina</p>
                    </div>
                    <div class="free-therms-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>wolny termin wizyty</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>

</div>

</body>

</html>