<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <p class="notification-bar" th:if="${notification}" th:utext="${notification}">
            Belka z powiadomieniami
        <h2 class="list-heading">Zaloguj się</h2>
        <form action="" th:action="@{/login}" method="post" class="mc-form">
            <p th:if="${param.error}"
               th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
               class="mc-form-message">
                Błąd logowania.
            </p>
            <p th:if="${param.logout}" class="mc-form-message">
                Zostałeś wylogowany, możesz zalogować się ponownie.
            </p>
            <label for="username">Adres email</label>
            <input id="username" name="username" placeholder="nazwa użytkownika">
            <label for="password">Hasło</label>
            <input id="password" name="password" placeholder="hasło" type="password">
            <button type="submit">Zaloguj się</button>
            <p class="registration-link">Nie masz jeszcze konta? <a href="#" th:href="@{/rejestracja}">Zarejestruj się</a></p>
        </form>
    </main>
</div>
</body>
</html>