
/*CSS reset*/
* {
    margin: 0;
    padding: 0;

}
/*Zmiana domyślnego fontu*/
body {
    font-family: 'Montserrat';
    background: url("../images/gory2.jpg") no-repeat fixed 0 0 transparent;
}
/*Ustawienie koloru odnośników i usunięcie podkreśleń*/
a {
    text-decoration: none;
    color: darkblue;
}
/*Kolor tła w głównym kontenerze i ustawienie elastycznego rozkładu
Elementy będą ustawiane jeden pod drugim
*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 2%;
}

/*
przyciski dod sprawdzenia zarezerwowanych i wolnych terminów
*/
.terms-href,
.terms-booked-href,
.terms-free-href{
    padding: 10px 18px;
    font-size: 14px;
    align-items: center;
    text-align: center;
}
.meeting-button-free,
.meeting-button-booked{
    padding: 14px 24px;
    font-size: 28px;
    text-align: center;
    align-items: center;
}
.meeting-button-free{
    color: darkgreen;
}
.meeting-button-booked{
    color: orangered;
}



/*Główna sekcja powinna być skalowana wraz z rozciąganiem okna przeglądarki
i powinna zajmować większość dostępnej przestrzeni
*/
.main-content {
    flex: 1;
    background-color: mistyrose;
}

/*MENU START*/
/*Kolor logotypu i przycisku rozwijającego menu*/
.logo,
#toggle-icon {
    color: darkblue;
}
/*Ustawienia dla responsywnego menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: mistyrose;
}
/*Elementy menu domyślnie są ukryte*/
.menu-item{
    width: 100%;
    padding: 8px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: block;

}



/*Po wciśnięciu przycisku elementy będą widoczne*/
.expanded > .menu-item {
    display: block;
}
/*padding dla elementów menu*/
.menu-logo-container,
.menu-login-container,
.menu-toggle {
    display: flex;
    font-size: 17px;

}

/*Office START*/
.office {

    padding: 3rem;
    text-align: center;
}
.office-header {
    font-size: 1.5rem;
    margin: 0.2rem 0;
}
.office-description {
    font-size: 0.7rem;
}
/*Office END*/

/*MENU END*/

/*FOOTER START*/
/*Wyśrodkowanie stopki*/
.footer {
    font-size: 80%;
    padding: 8px;
    text-align: center;
    color: mistyrose;
}
/*FOOTER END*/

/*index START*/
/*Nagłówek*/
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;

}
/*Usunięcie dekoracji elementów listy (kropki na początku)*/
.free-therms-list,
.therapy-therms-list,
.list-border {
    list-style-type: none;

}

.free-therms-list{
    padding: 14px 24px;
    font-size: 28px;
    text-align: left;
    display: block;
}


.patients-list123 {
    list-style-type: none;
    font-size: 16px;
    padding: 40px;
    line-height: 160%;
}

.about-me-heading {
    text-align: center;
    margin: 16px 0;
    padding-top: 6%;
    float: right
}

.about-me-photo {
    object-fit: contain;
    width: 150px;
    height: 200px;
    background-image: url("../images/Ewcia_na_strone.jpg");
    background-size: cover;
    border: 1px #6d6d6d solid;
    float: left;
    margin: 2%;
}


.about-me {
    list-style-type: none;
    font-size: 16px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    line-height: 160%;
    text-align: justify;
    text-indent: 8%;
}


.about-me-top {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    line-height: 160%;
}

.office-photo {
    object-fit: contain;
    border: 1px #6d6d6d solid;
    float: right;
    margin: 2%;
}

.patients-list{
    list-style-type: none;
    font-size: 14px;

}

.patient-description{
    display: table;

}



.patient-summary{
    display: block;
    flex-direction: column;

}
.delete-button-link{
    display: flow;
    float: right;
    right: 2%;

}

.delete-button{
    right: 2%;
    padding: 14px 24px;
    font-size: 28px;
}

/*Margines i ramka wokół pojedynczego posta*/
.free-therms-list-item{
    margin-bottom: 10px;
    max-width: 930px;
    display: flex;
    border: 1px #6d6d6d solid;
}

.patients-list-item{
    max-width: 930px;
    display: block;
    border: 1px #6d6d6d solid;
    margin: 2px 32px;
}
/*Plakat - usuniecie paddingu*/
.free-therms-list-item-poster {
    display: block;
    object-fit: contain;
    max-width: 100px;
    max-height: 100px;
    font-size: 0.8rem;

}
/*Karta terminu*/

.meeting-button{
    display: block;
    padding: 14px 24px;
    font-size: 28px;
    color: darkgreen;
    text-align: center;
}

.free-therms-list-item-card{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
}
.free-therms-list-item-content {
    margin: 4px 0;
}
.free-therms-list-item-title {
    font-size: 0.9rem;
}
.free-therms-list-item-rating {
    font-size: 0.6rem;
}


/*index END*/

.list {
    font-size: 18px;
    flex-direction: column;
    margin: 0 32px;
    padding: 14px;
}


/*formularze*/
/*textarea domyślnie nie dziedziczy czcionki z body*/
.textarea {
    font-family: inherit;
}
/*etykiety i inputy jeden pod drugim z odstępami po bokach*/
.mc-form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}
.mc-form-patient {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    color: black;
}

/*odstępy między etykietami i inputami*/
.mc-form > * {
    margin-top: 8px;
}
/*większe inputy z paddingami*/
.mc-form > input,
.mc-form > textarea,
.mc-form > button {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}
.mc-form > button {
    margin-top: 16px;
    background-color: white;
    color: black;
    border: 1px #6d6d6d solid;
}
.option-box{
    font-size: 1.2rem;
    color: black;
    padding: 8px;
    background-color: white;
    margin-bottom: 8px;
    border: 1px #6d6d6d solid;
}

.option-box-inside{
    font-size: 0.8rem;
    color: black;
    padding: 8px;

    background-color: lightgray;
    margin-top: 16px;
    border: none;
}
.input-box{
    font-size: 1.2rem;
    color: black;
    padding: 8px;
    background-color: white;
    margin-top: 16px;
    border: 1px #6d6d6d solid;
}
/*panel admina belka z powiadomniniami*/
.notification-bar {
    text-align: center;
    background-color: #ffc107;
    padding: 8px 0;
}

/*Tekst nad formularzem logowania*/
.mc-form-message {
    color: darkgreen;
    text-align: center;
}

.registration-link {
    text-align: center;
    margin-top: 32px;
}

/*Odstęp informacji o spotkaniu od okładki*/
.meeting-summary-info,
.therapy-summary-info,
.patient-summary-info{
    margin-left: 8px;
}
/*Dzień spotkania w kolorze wybanym przez Żonę i odstęp pod nim*/
.meeting-summary-day {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}



/*error pages START*/
.error-container {
    margin: 32px auto;
}
.error-container > * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon {
    font-size: 4rem;
    margin: 16px 0;
}
/*error pages END*/
/*Responsive*/
@media only screen and (min-width: 992px) {
    /*Na ekranie powyżej 992px ukrywamy przycisk do rozwijania menu*/
    .menu-toggle {
        display: none;
    }

    /*Elementy menu nie powinny już zajmować całej szerokości, tylko być obok siebie*/
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }


    /*Na dużym ekranie ograniczamy szerokość do 960px*/
    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }



    /*offer.html*/

    /*Informacje o spotkaniu w jednym rzędzie z odstępem */
    .meeting,
    .therapy,
    .patient{
    }

    .meeting-summary,
    .therapy-summary{
        display: flex;
        margin-top: 16px;

    }


    /*Mniejsza ikona na małych ekranach*/
    .meeting-summary-icon {
        object-fit: contain;
        max-width: 200px;
        font-size: 4rem;
        display: block;
        padding: 14px 24px;
        color: darkgreen;

    }

}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-25p {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;

    width: 24%;
}

.col-75p {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
    width: 73%;
}

.p-50px {
    padding: 50px;
}

.px-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.py-50px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-20px{
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-end {
    text-align: end;
}

.main-content, .rounded {
    border-radius: 0.25rem;
}

.btn {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.photo-psychotherapist {
    transition: transform 0.5s;
}

.photo-psychotherapist:hover {
    transform: scaleX(-1);
}

.width-240px {
    width: 240px;
}

.flip-box {
    display: flex;

    background-color: transparent;
    width: 200px;
    height: 300px;
    border: 2px solid #ffb6ae;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-back {
    color: #333;
    transform: rotateY(180deg);
}

.cursor-pointer {
    cursor: pointer;
}

.float-right {
    float:right;
}

.d-none {
    display: none;
}
