/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

/*Zmiana domyślnego fontu*/
body {
    font-family: inherit;
    background: url("../images/gory2.jpg") no-repeat fixed 0 0 transparent;
}
/*Ustawienie koloru odnośników i usunięcie podkreśleń*/
a {
    text-decoration: none;
    color: darkblue;
}
/*Kolor tła w głównym kontenerze i ustawienie elastycznego rozkładu
Elementy będą ustawiane jeden pod drugim
*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2%;
}

.container-am {
    display: block;
    flex-direction: column;
    min-height: 100vh;
    padding: 2%;
}



/*Główna sekcja powinna być skalowana wraz z rozciąganiem okna przeglądarki
i powinna zajmować większość dostępnej przestrzeni
*/
.main-content {
    flex: 1;
    background-color: mistyrose;
}

/*MENU START*/
/*Kolor logotypu i przycisku rozwijającego menu*/
.logo,
#toggle-icon {
    color: darkblue;
}
/*Ustawienia dla responsywnego menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: mistyrose;
}
/*Elementy menu domyślnie są ukryte*/
.menu-item{
    width: 100%;
    padding: 8px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}

/*Po wciśnięciu przycisku elementy będą widoczne*/
.expanded > .menu-item {
    display: block;
}
/*padding dla elementów menu*/
.menu-logo-container,
.menu-login-container,
.menu-toggle {
    display: flex;
    font-size: 17px;
}
/*MENU END*/

/*FOOTER START*/
/*Wyśrodkowanie stopki*/
.footer {
    font-size: 80%;
    padding: 8px;
    text-align: center;
    color: mistyrose;
}
/*FOOTER END*/

/*index START*/
/*Nagłówek*/
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 16px;
}

/*Office START*/
.office {
    padding: 3rem;
    text-align: center;
}
.office-header {
    font-size: 1.5rem;
    margin: 0.2rem 0;
}

/*Office END*/
/*Usunięcie dekoracji elementów listy (kropki na początku)*/
.free-therms-list,
.therapy-therms-list,
.list-border {
    list-style-type: none;
}

.free-therms-list{
    padding: 14px 24px;
    font-size: 28px;
    text-align: left;
    display: block;
}

.patients-list123 {
    list-style-type: none;
    font-size: 16px;
    padding: 40px;
    line-height: 160%;
}

.patients-list{
    list-style-type: none;
    font-size: 14px;
}

.patient-description{
    display: table;
}

.delete-button-link{
    display: flow;
    float: right;
    right: 2%;
}

.delete-button{
    right: 2%;
    padding: 14px 24px;
    font-size: 28px;
}

/*Margines i ramka wokół pojedynczego posta*/
.free-therms-list-item{
    margin-bottom: 10px;
    max-width: 930px;
    display: flex;
    border: 1px #6d6d6d solid;
}
/*Karta terminu*/

.free-therms-list-item-card{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
}
.free-therms-list-item-content {
    margin: 4px 0;
}
.free-therms-list-item-title {
    font-size: 0.9rem;
}
.free-therms-list-item-rating {
    font-size: 0.6rem;
}
/*index END*/

/*formularze*/
/*textarea domyślnie nie dziedziczy czcionki z body*/

/*etykiety i inputy jeden pod drugim z odstępami po bokach*/
.mc-form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}
.mc-form-patient {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    color: black;
    font-family: inherit;

}

/*odstępy między etykietami i inputami*/
.mc-form > * {
    margin-top: 8px;
}
/*większe inputy z paddingami*/
.mc-form > input,
.mc-form > textarea,
.mc-form > button {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
    font-family: inherit;

}
.mc-form > button {
    margin-top: 16px;
    background-color: white;
    color: black;
    border: 1px #6d6d6d solid;
}
.option-box{
    font-size: 1.2rem;
    color: black;
    padding: 8px;
    background-color: white;
    margin-bottom: 8px;
    border: 1px #6d6d6d solid;
}

.option-box-inside{
    font-size: 0.8rem;
    color: black;
    padding: 8px;
    background-color: lightgray;
    margin-top: 16px;
    border: none;
}
.input-box{
    font-size: 1.2rem;
    color: black;
    padding: 8px;
    background-color: white;
    margin-top: 16px;
    border: 1px #6d6d6d solid;
}
/*panel admina belka z powiadomniniami*/
.notification-bar {
    text-align: center;
    background-color: #ffc107;
    padding: 8px 0;
}

/*Tekst nad formularzem logowania*/
.mc-form-message {
    color: darkgreen;
    text-align: center;
}

.registration-link {
    text-align: center;
    margin-top: 32px;
}

/*Odstęp informacji o spotkaniu od okładki*/
.therapy-summary-info{
    margin-left: 8px;
}

/*Dzień spotkania w kolorze wybanym przez Żonę i odstęp pod nim*/
.meeting-summary-day {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}



/*error pages START*/
.error-container {
    margin: 32px auto;
}
.error-container > * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon {
    font-size: 3rem;
    margin: 16px 0;
}
/*error pages END*/
/*Responsive*/
@media only screen and (min-width: 992px) {
    /*Na ekranie powyżej 992px ukrywamy przycisk do rozwijania menu*/
    .menu-toggle {
        display: none;
    }

    /*Elementy menu nie powinny już zajmować całej szerokości, tylko być obok siebie*/
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }


    /*Na dużym ekranie ograniczamy szerokość do 960px*/
    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }



    /*offer.html*/

    /*Informacje o spotkaniu w jednym rzędzie z odstępem */

    .meeting-summary,
    .therapy-summary{
        display: flex;
        margin-top: 16px;

    }


    /*Mniejsza ikona na małych ekranach*/
    .meeting-summary-icon {
        object-fit: contain;
        max-width: 200px;
        font-size: 4rem;
        display: block;
        padding: 14px 24px;
        color: darkgreen;

    }

}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-25p {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;

    width: 24%;
}

.col-75p {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
    width: 73%;
}

.p-50px {
    padding: 50px;
}

.px-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.px-30px {
    padding-left: 30px;
    padding-right: 10px;
}

.py-50px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-20px{
    margin-top: 20px;
    line-height: 150%;

}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-end {
    text-align: end;
}

.main-content,
.rounded {
    border-radius: 0.25rem;
}

.btn {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.photo-psychotherapist {
    transition: transform 0.5s;
}

.photo-psychotherapist:hover {
    transform: scaleX(-1);
}

.width-240px {
    width: 240px;
}

.flip-box {
    display: flex;
    background-color: transparent;
    width: 200px;
    height: 300px;
    border: 2px solid #ffb6ae;
}
.flip-box2 {
    display: flex;
    background-color: transparent;
    max-width: 600px;
    max-height: 400px;
    border: 2px solid #ffb6ae;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box-back {
    color: #333;
    transform: rotateY(180deg);
}

.cursor-pointer {
    cursor: pointer;
}


/*reset password form*/
.form-group {
    margin-bottom: 20px;
}


/*table style*/
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 47%;
    padding: 10px;
}

/* Clear floats after the columns */
.row-table:after {
    content: "";
    display: table;
    clear: both;
}

.mar{
    line-height: 200%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 930px) {
    .column {
        width: 100%;
    }
}
/*end table style*/



/*table style about-me*/

.column-am-left {
    float: left;
    max-width: 25%;
    padding: 2%;

}

.column-am-right {
    min-width: 450px;

    float: left;
    max-width: 66%;
    padding: 2%;

}

/* Clear floats after the columns */
.row-table-am:after {
    content: "";
    display: table;
    clear: both;
}
.mar-am{
    line-height: 200%;

}

.column-a{
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 930px) {
    .column-a {
        width: 100%;
    }
}
/*end table style*/


/*przyciski dod sprawdzenia zarezerwowanych i wolnych terminów*/
.terms-href,
.terms-booked-href,
.terms-free-href{
    padding: 10px 18px;
    font-size: 14px;
    align-items: center;
    text-align: center;
}
.meeting-button-free,
.meeting-button-booked{
    padding: 14px 24px;
    font-size: 28px;
    text-align: center;
    align-items: center;
}
.meeting-button-free{
    color: darkgreen;
}
.meeting-button-booked{
    color: orangered;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* strona zmiany hasła restu hsała*/
.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

#roles {
    width: 200px;
    height: 30px;
    font-size: 16px;
}
/* KONIEC strona zmiany hasła restu hsała*/